
// Base Classes

.non-semantic-protector { 
    position: relative; 
    z-index: 1; 
}

html {
    font-size: 1em;

    // 1em = 16px; Adjust if you want a different baseline.
}

body {
    color: $wg-black;
    background-color: lighten($wg-black, 8);
    font-size: 100%;
    font-family: $sans;
    line-height: 1.5;
    overflow-x: hidden;

    // Adjust for your type
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// responsive images by default
img {
    display: block;
    width: 100%;
    height: auto;
}

// makes button styling more flexible
.button {
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: block;
    text-decoration: none;
    display: block;
    background-color: $wg-orange;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 900;
    color: $wg-offwhite;
    font-family: $poppins;
    margin: 0 auto;
    cursor: pointer;
    &:hover, &:active {
        transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: darken($wg-orange, 7);
        transform: translate(0px, -2.5px);
    }
}

// responsive video wrap
.video-wrap{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe   {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

// add this to any link container
.fullwidth {
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}

// Mobile page wrap
.wrap {
    margin: 0 auto;
    width: 96%;
}

// Sets default fonts, override in classes in necessary
body {
    font-family: $gentium;
    h1, h2, h3, h4, h5, h6 {
        font-family: $alfa;
    }
    p {
        font-weight: normal;
        font-family: $gentium;
        i {
            font-style: italic;
        }
        b {
            font-weight: bold;
        }
    }
    span.article-quote {
    }
}

ul {
    list-style: none;
    padding: 0;
}

.wg-header {
    .wg-header-inner {
        .header-hero {
            background: url('../images/darkwood.jpg');
            padding: 3em 0;
            display: flex;
            justify-content: center;
            position: relative;
            .img-wrap {
                width: 300px;
            }
            span {
                position: absolute;
                bottom: 0;
                right: 0;
                color: $wg-offwhite;
                padding: 1em;
                text-transform: uppercase;
                font-size: .8em;
                color: $wg-gray;
                font-family: $poppins;
            }
        }
        .nav {
            background-color: $wg-black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $poppins;
            .img-wrap {
                width: 70px;
                padding: 1em;
                margin: 0 auto 0 0;
            }
            .nav-list {
                display: flex;
                .nav-list-item {
                    padding: 0 1em;
                    a {
                        text-decoration: none;
                        color: $wg-orange;
                        text-transform: uppercase;
                        font-weight: 900;
                    }
                }
            }
            .header-cta {
                margin: 0 1em 0 auto;
            }
        }
    }
}
.content-wrap {
    display: flex;
    position: relative;
    .blog {
        background-color: $wg-offwhite;
        margin: 2em 1em 2em 2em;
        max-width: 70%;
        .blog-inner {
            h1::first-letter {
                color: $wg-orange;
            }
            .blog-copy {
                padding: 2em;
                font-size: 1.3em;
                h1 {
                    font-size: 2.5em;
                }
                a {
                    color: $wg-orange;
                }
            }
            .blog-watch-slider {
                padding: 6em 6em 0 6em;
            }
            .swipe {
                text-align: center;
                text-transform: uppercase;
                font-family: $poppins;
                font-weight: 900;
            }
            .bottom-cta {
                padding: 2em;
                margin: 2em;
                border: 5px solid $wg-orange;
                text-align: center;
                background: linear-gradient(rgba(33, 33, 33, 0.64),rgba(33, 33, 33, 0.64)), url(../images/watch-hands-moving.gif);
                color: white;
                h2 {
                    margin-top: 0;
                    color: $wg-offwhite;
                }
                p {
                    font-family: $poppins;
                    font-size: 1.2em;
                }
                .button {
                    width: 150px;
                }
            }
        }
    }
    .sidebar {
        margin: 2em 2em 2em 1em;
        color: $wg-offwhite;
        text-align: center;
        max-width: 30%;
        .sidebar-inner {
            .sidebar-cta {
                padding: 2em;
                background: linear-gradient(rgba(33, 33, 33, 0.64),rgba(33, 33, 33, 0.64)), url(../images/watch-hands-moving.gif);
                background-position: center;
                background-size: cover;
                .img-wrap {
                    margin: 2em 0;
                }
                span {
                    display: block;
                    font-family: $poppins;
                    font-weight: 900;
                    font-size: 2em;
                    padding-bottom: .5em;
                }
                p {
                    margin-top: 0;
                    font-size: 1.3em;
                    font-family: $poppins;
                }
            }
            .sidebar-testimonials {
                background-color: $wg-offwhite;
                color: $wg-black;
                padding: 2em;
                text-align: left;
                h5 {
                    text-transform: uppercase;
                    margin-top: 0;
                }
                p {
                    font-size: 1em;
                }
                p::before {
                    content: '"';
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-right: .3em;
                }
                p::after {
                    content: '"';
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-left: .3em;
                }
                .t-name {
                    font-family: $poppins;
                    font-weight: bold;
                }
            }
            .sidebar-social {
                padding: 2em;
                text-align: left;
                background-color: $wg-black;
                a {
                    text-decoration: none;
                    color: white;
                }
                .fa-instagram {
                    font-size: 2em;
                }
                .social-display {
                    font-family: $poppins;
                    font-weight: bold;
                }
                .social-uname {
                    font-family: $poppins;
                }
                .img-wrap {
                    margin-top: 1em;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.footer {
    background-color: $wg-black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-wrap {
        width: 100px;
        height: auto;
        margin: 0 auto 0 1em;
        display: flex;
        align-items: center;
        span {
            color: $wg-orange;
        }
    }
    .social {
        .social-list {
            margin: 0;
            display: flex;
            a {
                color: $wg-offwhite;
                padding: 0 .5em;
                font-size: 1.3em;
            }
        }
    }
    .footer-nav {
        margin: 0 1em 0 auto;
        .footer-nav-list {
            display: flex;
            font-family: $poppins;
            li {
                margin: 0 .5em;
                a {
                    text-decoration: none;
                    color: $wg-offwhite;
                    text-transform: uppercase;
                    font-size: .8em;
                }
            }
            li:last-of-type {
                margin-right: 1em;
            }
        }
    }
}

.owl-item {
    width: 100%;
    cursor: pointer;
}