// COLORS
// change as needed for template


// $tvs-blue-dark: #002546;
// $tvs-blue-light: #08527D;
// $tvs-green: #0AB84A;
// $tvs-yellow: #F8E71C;
// $tvs-orange: #F07F03;
// $tvs-gray: #FAFAFA;

$wg-orange: #C99B4F;
$wg-black: #212121;
$wg-offwhite: #f9f9f9;
$wg-gray: #72736F;
